:global {
	@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
	$primary-color: #C3002F;

	.location {
		font-family: Fira Sans,sans-serif;
		display: inline-block;
		border-radius: 1px;
		margin: 15px;
		padding: 10px 20px;
		width: 15%;
		border-top: transparent 10px solid;
		box-shadow: 0 5px 15px rgba(0,0,0,0.1);
		box-sizing: border-box;
	}

	.location h2 {
		margin: 20px auto 0;
	}

	.location .currentTemperature {
		font-size: 45px;
	}

	.location td,
	.location th {
		padding: 5px;
	}

	.location table {
		margin: 0 auto;
	}

	.openEditor.button {
		cursor: pointer;
		margin-left: 0;
		margin-right: 0;
	}

	div.tableHolder {
		width: calc(100% + 40px);
		margin: 30px -20px;
		background-color: rgba(240,240,240,1);
		padding: 10px 0;
	}

	@media (max-width: 1200px) {
		.location {
			width: 40%;
		}
	}

	@media (max-width: 750px) {
		.location {
			width: 80%;
		}
	}

}